@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 
body{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.d1{
    display: block;
    background: url(../img/tot3mnq2n2nael6k2iz5ksst5h3rx9dd.png);
    width: 100%;
    height: 780px;
    height: 100vh;
    color: rgb(0, 0, 0);
}
.d2{
    display: flex;
    justify-content: end
    
}
.d3{
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin-right:px;
}
.d4{
    display: flex;
    justify-content: center;
    width: 100%;
}
.d5{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 400px;
    height: auto;
}
.d6{
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: center;
    height: auto;
    margin-bottom: 0px;
}
.d6a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.d6b{
    width: 1300px;
    text-align: center;
}
.d7{
    width: 500px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 31px;
}
.d8{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 247, 247);
    margin:0;
}
.d8a{
    width: 380px;
    height: 220px;
    position: relative;
    margin-right: 115px;
    
}
.d8d{
    width: 380px;
    height: 220px;
    position: relative;
    margin-left: 115px;
}
.d9, .d9a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d9a {
    z-index: 10;
    background: rgb(255, 255, 255);
    margin: 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 17px;
  }
  .d9{
    background:linear-gradient(20deg, black, rgb(43, 134, 187));
    height:250px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    color: aliceblue;
}
.d10, .d10a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.d10a {
    z-index: 10;
    background: rgb(255, 255, 255);
    margin: 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 17px;
  }
.d10{
    background:linear-gradient(-20deg, black, rgb(43, 134, 187));
    height:250px;
    width: 400px;
    border-radius: 30px;
    color: aliceblue;
    text-align: center;
}
.dd2{
    width: 100%;
    height: 205px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.dd{
    height: 25px;
    width: 77px;
    background-color: #f8923e;
    color: black;
    display: flex;
    margin-top: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #f8923e;
    padding: 0 .80rem;
    margin: 0 -.80rem;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
}
.dd:hover{
    color:#f8923e;
    box-shadow: inset 200px 0 0 0 black;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
.p1{
    font-size:67px;
    color: #f8923e;
}
.p3{
    font-size: 37px;
}
.p4{
    font-size: 18px;
}
.p4a{
    font-size: 18px;
    font-family: 'Muli', sans-serif;
}
.p5{
    font-size: 25px;
    font-family: 'Muli', sans-serif;
}
.l1{
    width: 500px;
    margin-bottom: 13px;
}
.i1{
    width: 680px;
    height: 420px;
}
a{
    text-decoration: none;
}

li{
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    font-size: 25px;
}
  /* .wrapper{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    position: relative;
    perspective: 1000px;
    width: 380px;
    height: 220px;
  } */
.cnopca{
    width: 125px;
    height: 40px;
    border-radius: 40px;
    background-color: #f8923e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    box-shadow: inset 0 0 0 0 #f8923e;
    padding: 0 .80rem;
    margin: 0 -.80rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    border: 1px solid black;
}
.cnopca:hover{
    color: aliceblue;
    box-shadow: inset 200px 0 0 0 rgb(43, 134, 187);
}
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    /* width: 300px;
    height: 300px; */
    height:250px;
    width: 400px;
    position: relative;
    perspective: 1000px;
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-radius: 30px;
   }
   .front{
    background: linear-gradient(20deg, black, rgb(43, 134, 187));
    color: aliceblue;
  }
  .back, .span{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border:3px solid black ;
  }
  .back {
    transform: rotateY(180deg);
  }
  .card:hover .front {
    transform: rotateY(180deg);}
  .card:hover .back {
    transform: rotateY(360deg);}
footer{
    height: 90px;
    width: 100%;
    background-color: rgb(68, 70, 73);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
  